<!--Hero-->
<div class="px-20 pt-16 hero">
  <div class="container flex flex-wrap flex-col md:flex-row items-center">
    <!--Left Col-->
    <div
      class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left"
    >
      <p class="uppercase tracking-loose w-full welcome">
        welcome to <span class="text-main ms-1"> ctit</span>
      </p>
      <h1 class="my-4 text-5xl font-bold leading-tight">
        Make Your <span class="text-main">Business</span><br /><span
          class="text-main"
          >More</span
        >
        Easy !
      </h1>
      <p class="leading-normal text-lg mb-6">
        To Provide Tough, Reliable and Innovative I.T Solutions To Our Clients
        With CompetitiveAdvantage By Producing The Most Accurate and Fastest Way
        To Establish a Long-term Clients'Relationships That Are Built On
        Satisfaction.
      </p>
      <a
        class="bg-main mx-auto lg:mx-0 text-white font-bold rounded-md my-3 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
      >
        Download company Profile
      </a>
    </div>
    <!--Right Col-->
    <div class="w-full md:w-3/5 py-2 text-center">
      <img class="w-full md:w-4/5 z-50 md:pl-10" src="assets/images/hero.png" />
    </div>
  </div>
</div>



<div class="container-box bg-white mb-10 rounded-lg shadow-lg flex flex-wrap " >
  <div class="w-full lg:2/3 sm:1/2  flex flex-wrap  ">
  <div class="first lg:w-1/3 w-full mt-6  pl-6 ">
    <button class="rounded-full text-gray-700 ">
      ERP System
    </button>

    <h1 class="text-2xl font-bold  text-gray-800">Special Offer</h1>
  </div>

  <div class="discount lg:w-1/3 sm:w-1/2 w-full mt-6 text-center">
    <p  >40 % OFF</p>
  </div>


  <div class="w-full lg:w-1/3 img-btn">
    <div class="img ">
      <img class="inset-0 h-full w-full object-cover object-center" src="assets/images/header-discount.png"/>
    </div>
    <div class="btn ">
      <button  routerLink="/erp" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-12 border border-blue-700 rounded">
        Subscribe Now
      </button>
    </div>

  </div>
</div>
</div>