<!-- Work section -->
<div id="workSection" class="mb-5 flex justify-between gap-5 max-h-[765px] pr-5">
  <div class="lg:flex flex-col lg:gap-[187px] overflow-hidden">
    <div>
      <div
        class="pt-10 pb-5 pl-12 flex items-start justify-center flex-col lg:pl-24 lg:w-[428px] gap-2"
      >
        <h1 class="uppercase text-blue-500 font-semibold work-heading relative">
          Work
        </h1>
        <h2
          class="font-extrabold text-xl leading-10 lg:text-3xl -ml-6 text-[#002B54]"
        >
          Some pictures of our work in the real world
        </h2>
      </div>
      <p class="text-[#002B54] pl-12 lg:pl-24 lg:w-[428px] -ml-6">
        there are several photographs showcasing the actual projects or
        achievements that we have accomplished in real-life situations.
      </p>
      <div class="mt-5 pl-12 lg:pl-24 lg:w-[428px] -ml-6">
        <button
          class="rounded-lg py-3 px-5 bg-blue-500 text-white lg:w-[276px] w-auto"
        >
          join and subscribe now
        </button>
      </div>
    </div>
    <div class="h-[210px] pl-16 lg:flex hidden gap-4">
      <div>
        <img
          class="hidden w-[170px] lg:block shadow-xl rounded-lg object-cover h-full"
          src="assets/images/image-8.jpg"
          alt="office content 2"
        />
      </div>
      <div class="mb-5">
        <img
          class="hidden lg:block shadow-xl rounded-lg w-full object-cover h-full mb-5"
          src="assets/images/image-7.jpg"
          alt="office content 2"
        />
      </div>
    </div>
  </div>
  <div
    class="hidden lg:grid grid-cols-1 lg:grid-cols-4 gap-x-4 mt-8 lg:pr-24 grow overflow-hidden"
  >
    <div class="h-[210px] w-[135px] ml-auto justify-self-start">
      <img
        class="hidden lg:block shadow-lg rounded-lg w-full object-cover h-full"
        src="assets/images/image-4.jpg"
        alt="office content 2"
      />
    </div>
    <div class="lg:col-span-3 h-[200px]">
      <img
        class="hidden lg:block mt-4 rounded-lg w-full object-cover h-full shadow-sm"
        src="assets/images/image-3.jpg"
        alt="office content 1"
      />
    </div>

    <div class="h-[210px] w-[135px] ml-auto self-end my-auto">
      <img
        class="hidden lg:block mt-4 shadow-lg rounded-lg w-full object-cover h-full"
        src="assets/images/image-5.jpg"
        alt="office content 2"
      />
    </div>
    <div class="mt-4 lg:col-span-3 h-[312px] rounded-lg shadow-md">
      <img
        class="hidden lg:block rounded-lg w-full object-cover h-full"
        src="assets/images/image-6.jpg"
        alt="office content 1"
      />
    </div>

    <div class="mt-4 h-[210px] w-[135px] ml-auto">
      <img
        class="hidden lg:block mt-4 shadow-lg rounded-lg w-full object-cover h-full"
        src="assets/images/image-10.jpg"
        alt="office content 2"
      />
    </div>
    <div class="mt-4 lg:col-span-3 h-[312px] rounded-lg shadow-md">
      <img
        class="hidden lg:block rounded-lg w-full object-cover h-full"
        src="assets/images/image-9.jpg"
        alt="office content 1"
      />
    </div>
  </div>
</div>
