<div
  class="lg:ml-60 sm:mb-4 mx-auto mt-28 flex flex-col lg:flex-row justify-between items-center"
>
  <div>
    <div class="flex flex-col gap-3">
      <h1 class="text-xl">Verify email</h1>
      <p class="text-[#8D8D8D] text-sm">
        Please check your email <span class="text-[#002B54]">{{ email }}</span>
      </p>
    </div>
    <form
      class="max-w-[426px]"
      [formGroup]="verifyForm"
      (ngSubmit)="verifyInputs()"
    >
      <div class="flex space-x-8 items-center my-12">
        <div>
          <label for="code-1" class="sr-only">First code</label>
          <input
            formControlName="code1"
            type="text"
            maxlength="1"
            data-focus-input-init
            data-focus-input-next="code-2"
            id="code-1"
            class="block font-semibold w-20 h-20 text-2xl text-center text-gray-900 bg-[#ebf0f3] rounded-lg focus:ring-0 outline-0 border-0"
            required
          />
        </div>
        <div>
          <label for="code-2" class="sr-only">Second code</label>
          <input
            formControlName="code2"
            type="text"
            maxlength="1"
            data-focus-input-init
            data-focus-input-prev="code-1"
            data-focus-input-next="code-3"
            id="code-2"
            class="block font-semibold w-20 h-20 text-2xl text-center text-gray-900 bg-[#ebf0f3] rounded-lg focus:ring-0 outline-0 border-0"
            required
          />
        </div>
        <div>
          <label for="code-3" class="sr-only">Third code</label>
          <input
            formControlName="code3"
            type="text"
            maxlength="1"
            data-focus-input-init
            data-focus-input-prev="code-2"
            data-focus-input-next="code-4"
            id="code-3"
            class="block font-semibold w-20 h-20 text-2xl text-center text-gray-900 bg-[#ebf0f3] rounded-lg focus:ring-0 outline-0 border-0"
            required
          />
        </div>
        <div>
          <label for="code-4" class="sr-only">Fourth code</label>
          <input
            formControlName="code4"
            type="text"
            maxlength="1"
            data-focus-input-init
            data-focus-input-prev="code-3"
            data-focus-input-next="code-5"
            id="code-4"
            class="block font-semibold w-20 h-20 text-2xl text-center text-gray-900 bg-[#ebf0f3] rounded-lg focus:ring-0 outline-0 border-0"
            required
          />
        </div>
      </div>
      <button
        type="submit"
        class="w-full flex items-center justify-center py-4 rounded-lg text-white"
        [disabled]="loading || isVerified"
        [ngClass]="{
        'bg-green-500': isVerified,
        'bg-[#002B54]': !isVerified,
      }"
      >
        <ng-container *ngIf="!loading && !isVerified; else spinnerOrVerified">
          <!-- Show button content only if not loading and not verified -->
          Verify
        </ng-container>
        <ng-template #spinnerOrVerified>
          <ng-container *ngIf="loading">
            <!-- Show spinner if loading -->
            <i class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
          </ng-container>
          <ng-container *ngIf="isVerified">
            <!-- Show verified message if verified -->
            Verified!
          </ng-container>
        </ng-template>
      </button>

      <p
        id="helper-text-explanation"
        class="text-center mt-8 text-gray-500 text-sm"
      >
        Didn't receive anything?
        <span class="text-[#0081FE]"
          >Send again {{ formatTime(countdown) }}</span
        >
      </p>
    </form>
  </div>
  <div class="mr-56 hidden lg:block">
    <img src="assets/images/Mail.png" alt="Verify email" class="w-[350px]" />
  </div>
</div>
